header {
  background-color: red;
  max-height: 200px;
  height: 40vh;
}

.header-content {
  max-width: 400px;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content img {
  max-width: 300px;
  width: 100%;
  flex: 3;
}

.header-content nav {
  width: 100%;
  flex: 1;
  margin-bottom: 0.1rem;
  display: flex;
  justify-content: flex-start;
  gap: 0.25rem;
  color: white;
}

.header-content nav a {
  font-size: 0.8rem;
  text-decoration: none;
  color: white;
}

.order-content {
  width: 40%;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
}

.pizza-description {
  font-weight: 300;
  margin-top: 10px;
  font-size: 0.8rem;
  line-height: 160%;
}

.pizzaForm-boyut,
.pizzaForm-hamur {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pizzaForm-boyut label {
  font-weight: 300;
  margin-left: 1rem;
}

.pizzaForm-init-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.pizzaForm-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.checkbox-array {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.checkbox-array-item {
  width: calc(100% / 3 - 10px); /* 3 sutün saglamak icin */
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.pizzaForm-extras {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#checkbox-array-label {
  font-weight: normal;
}

.pizzaForm-extras p {
  font-weight: 300;
}

.pizzaForm-name,
.pizzaForm-not {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pizzaForm-name {
  align-items: flex-start;
  gap: 3rem;
}
.pizzaForm-not {
  align-items: flex-end;
}

.pizzaForm-textInputs {
  display: flex;
  border-top: 1px solid gray;
}

.pizzaForm-not p {
  font-weight: 300;
}

.pizzaForm-textInputs input {
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  padding: 8px 0;
  transition: border-color 0.3s ease-in-out;
}

.pizzaForm-textInputs input:focus {
  border-bottom: 2px solid black; /* Change border color on focus */
}

footer {
  height: 300px;
}

.pizzaForm-checkout-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.pizzaForm-pizzaCounter {
  padding-top: 2rem;
  display: flex;
  flex: 1;
}

.pizzaForm-pizzaCounter button {
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1.5rem;
  border-radius: 10%;
}

.pizzaForm-pizzaCounter p {
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1.5rem;
  background-color: aliceblue;
}

.pizzaForm-checkout {
  margin-top: 3rem;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pizzaForm-checkout button {
  width: 80%;
  border-radius: 2%;
}

.pizzaForm-checkout span {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
}

.red-text {
  color: red;
}

/*How to add red asterisk to required */
